@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/ProximaNova-Regular.eot');
    src: url('../assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ProximaNova-Regular.woff') format('woff'),
        url('../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Heavzy';
    src: url('../assets/fonts/MullerHeavyItalic.eot');
    src: url('../assets/fonts/MullerHeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerHeavyItalic.woff') format('woff'),
        url('../assets/fonts/MullerHeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerRegular.eot');
    src: url('../assets/fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerRegular.woff') format('woff'),
        url('../assets/fonts/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Hairline';
    src: url('../assets/fonts/MullerHairlineItalic.eot');
    src: url('../assets/fonts/MullerHairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerHairlineItalic.woff') format('woff'),
        url('../assets/fonts/MullerHairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Bold';
    src: url('../assets/fonts/MullerBoldItalic.eot');
    src: url('../assets/fonts/MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerBoldItalic.woff') format('woff'),
        url('../assets/fonts/MullerBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerBold.eot');
    src: url('../assets/fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerBold.woff') format('woff'),
        url('../assets/fonts/MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Black';
    src: url('../assets/fonts/MullerBlackItalic.eot');
    src: url('../assets/fonts/MullerBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerBlackItalic.woff') format('woff'),
        url('../assets/fonts/MullerBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller ExtraBold';
    src: url('../assets/fonts/MullerExtraBoldItalic.eot');
    src: url('../assets/fonts/MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerExtraBoldItalic.woff') format('woff'),
        url('../assets/fonts/MullerExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerBlack.eot');
    src: url('../assets/fonts/MullerBlack.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerBlack.woff') format('woff'),
        url('../assets/fonts/MullerBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerExtraBold.eot');
    src: url('../assets/fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerExtraBold.woff') format('woff'),
        url('../assets/fonts/MullerExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerLight.eot');
    src: url('../assets/fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerLight.woff') format('woff'),
        url('../assets/fonts/MullerLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerHeavy.eot');
    src: url('../assets/fonts/MullerHeavy.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerHeavy.woff') format('woff'),
        url('../assets/fonts/MullerHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerThin.eot');
    src: url('../assets/fonts/MullerThin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerThin.woff') format('woff'),
        url('../assets/fonts/MullerThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerUltraLight.eot');
    src: url('../assets/fonts/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerUltraLight.woff') format('woff'),
        url('../assets/fonts/MullerUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller UltraLight';
    src: url('../assets/fonts/MullerUltraLightItalic.eot');
    src: url('../assets/fonts/MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerUltraLightItalic.woff') format('woff'),
        url('../assets/fonts/MullerUltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Medium';
    src: url('../assets/fonts/MullerMediumItalic.eot');
    src: url('../assets/fonts/MullerMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerMediumItalic.woff') format('woff'),
        url('../assets/fonts/MullerMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerMedium.eot');
    src: url('../assets/fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerMedium.woff') format('woff'),
        url('../assets/fonts/MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Hairline';
    src: url('../assets/fonts/MullerHairline.eot');
    src: url('../assets/fonts/MullerHairline.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerHairline.woff') format('woff'),
        url('../assets/fonts/MullerHairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Thin';
    src: url('../assets/fonts/MullerThinItalic.eot');
    src: url('../assets/fonts/MullerThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerThinItalic.woff') format('woff'),
        url('../assets/fonts/MullerThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('../assets/fonts/MullerRegularItalic.eot');
    src: url('../assets/fonts/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerRegularItalic.woff') format('woff'),
        url('../assets/fonts/MullerRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Light';
    src: url('../assets/fonts/MullerLightItalic.eot');
    src: url('../assets/fonts/MullerLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MullerLightItalic.woff') format('woff'),
        url('../assets/fonts/MullerLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
